*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

main {
    margin: auto;
}

form {
    width: 30rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    padding: 4rem;
    color: #fff;
    border: none;
    border-radius: 0.4rem;
    background-image: linear-gradient(135deg, #feb692 10%, #ea5455 100%);
}

h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: #4d0202;
    font-size: 2.3rem;
    font-weight: bold;
}

.input-container {
    position: relative;
}

.input-container input,
input[type="submit"] {
    margin-bottom: 1rem;
    border: none;
    outline: none;
    width: 100%;
    background: transparent;
    border-bottom: 0.1rem solid #4d0202;
}

input[type="submit"] {
    border: none;
    background: #4d0202;
}

.input-container input,
input[type="submit"],
.input-container label {
    padding: 1rem;
    color: white;
    text-align: center;
    font-size: 1.7rem;
}

input[type="submit"] {
    cursor: pointer;
    border-radius: 0.4rem;
    font-size: 2rem;
}

.input-container label {
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
    transition: all 0.45s ease-in-out;
}

.input-container input:focus~label,
.input-container input:valid~label {
    top: -1rem;
    right: 0;
    font-size: 1rem;
    color: #000;
}

a {
    font-size: 1.7rem;
    font-weight: bold;
    color: #fff;
    position: absolute;
    left: 53%;
}

::selection {
    background-color: #ffe685;
    color: #333;

}