*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --text: #ff9f0d;
    --text2: #f60b0b;
    --text3: #fc8803;

    --background: #333333cf;
    --text-color: #fff;
    --background-color: #f4f4f4;
    --border-radius: 0.5rem;
    --padding: 1rem;
    ;
    --red: #0185ce;
    --redi: #0186ce35;
    --color-primary: #5ec576;
    --color-secondary: #ffcb03;
    --color-tertiary: #ff585f;
    --color-primary-darker: #4bbb7d;
    --color-secondary-darker: #ffbb00;
    --color-tertiary-darker: #fd424b;
    --color-primary-opacity: #5ec5763a;
    --color-secondary-opacity: #ffcd0331;
    --color-tertiary-opacity: #ff58602d;
    --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
    --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);


}

body {
    font-family: Arial, sans-serif;
    /* background-color: var(--background-color); */
}

.style01 {
    background-image: url('/kitchen/IMG/background/Cooking.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.style02 {
    display: flex;
    font-size: 2.5rem;
    background: var(--background);
    right: 0;
    position: fixed;
    color: var(--text);
    list-style-type: none;
    direction: rtl;
    width: 100%;
    cursor: pointer;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: top 0.3s ease-in-out;
}

li {
    padding: 1.5rem;
    position: relative;
}

.li {
    transition: all 0.4s;
}

.li:hover {
    background-color: #ffb834;
    color: var(--text2);
    border-radius: 0.4rem;
    padding: 1.5rem;
}

.style03 {
    top: 0;
    position: fixed;
    margin-left: 2rem;
    margin-top: 1rem;
}

@media (max-width: 1077px) {
    /* .style03 {
            width: 6%;
        } */
}

@media (max-width: 480px) {
    /* .style03 {
                width: 8%;
            }} */
}

/* Styles for dropdown */
ul.style02>li>a {
    text-decoration: none;
    color: inherit;
}

ul.style02 li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    /* background: var(--background); */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.style02 li:hover ul {
    display: block;
}

ul.style02 li ul li {
    border-bottom: 1px solid #ddd;
    background: #333333b0;
}

ul.style02 li ul li a {
    padding: 1rem 1.5rem;
    display: block;
    color: inherit;
    text-decoration: none;
}

ul.style02 li ul li a:hover {
    background-color: #ffb834;
    color: var(--text2);
}

.style05 {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.style06 {
    width: 40%;
    position: absolute;
    top: 54%;
    right: 5%;
    transform: translateY(-50%);
}

.style07 {
    position: absolute;
    bottom: 10%;
    right: 50%;
    margin-top: 10px;
    padding: 1.2rem;
    width: 15%;
    font-size: 2.3rem;
    border: none;
    border-radius: 0.5rem;
    font-weight: 500;
    cursor: pointer;
    background: var(--text2);
    color: #f9b840;
    transition: all 0.2s;
}

.style07:hover {

    background: #cf0606;
    color: #f9b840;
}

.style08 {
    color: var(--text);
    font-size: 3.8rem;
    font-weight: bold;
    transform: translate(-27%, 79%);
    text-align: center;
}

.style09 {
    width: 90%;
    transform: translate(-33%, 0%);
}

@media (max-width: 850px) {
    .style05 {
        height: auto;
    }

    .style06 {
        max-width: 100%;
        width: 55%;
        position: static;
        transform: translateY(0);
        margin: 0 auto;
    }

    .style07 {
        position: static;
        margin-top: 20px;
        margin: 2rem;
        transform: none;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        border: none;
        border-radius: 0.5rem;
        font-weight: 500;


    }

    .style08 {
        transform: translate(0%, 0%);
        font-size: 3.2rem;
    }
}

@media (max-width: 850px) {
    .style01 {
        background-image: url('/kitchen/IMG/background/Cooking-M.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .style09 {
        width: 60vw;
        transform: translate(-2%, 3%);
    }
}

@media (max-width: 760px) {
    nav {
        display: none;
    }
}

/*
.bottom-navbar {
    display: none;
}

@media (max-width: 760px) {
    .bottom-navbar {
        display: flex;
        justify-content: end;
        align-items: end;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .style09 {
        width: 60vw;
        transform: translate(-2%, 3%);
    }

    ul.style02 {
        display: flex;
        list-style-type: none;
        direction: rtl;
        margin: 0;
        padding: 0;
    }

    ul.style02 li {

        margin: auto;
    }

    ul.style02 li:hover {
        background-color: #333;
        border-radius: 0.4rem;
        margin: auto;
    }

    ul.style02 li ul.sub-menu {
        display: none;
        position: absolute;
        top: auto;
        bottom: 100%;
        /* تم تعديل الموقع العلوي إلى الأسفل 
        left: 50%;
        /* توسيط القائمة الفرعية 
        transform: translateX(-50%);
        /* توسيط القائمة الفرعية 
        background: var(--background);
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    ul.style02 li:hover>ul.sub-menu {
        display: block;
        width: 200px;
        /* يمكنك ضبط عرض القائمة الفرعية هنا حسب الحاجة 
}

ul.style02 li ul.sub-menu li {
    border-bottom: 1px solid #ddd;
}

ul.style02 li ul.sub-menu li a {
    padding: 1rem 1.5rem;
    display: block;
    color: inherit;
    text-decoration: none;
}

ul.style02 li ul.sub-menu li a:hover {
    background-color: #ffb834;
    color: #f60b0b;
}
}

*/
.style010 {
    width: 32%;
    margin: 1rem;
    height: 44vh;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 1rem;
    background: linear-gradient(#222122bf, #222122bf), linear-gradient(#222122bf, #222122bf), url(/kitchen/IMG/FOOD/cc.png) no-repeat center;
    background-size: cover, cover, contain;
    text-align: center;
    transform: translate(53%, -9%);
}

.style011 {
    width: 32%;
    margin: 1rem;
    height: 44vh;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 1rem;
    background: linear-gradient(#ff9f0d99, #ff9f0d99), linear-gradient(#222122bf, #222122bf), url(/kitchen/IMG/FOOD/cooked.png) no-repeat center;
    background-size: cover;
    text-align: center;
    transform: translate(48%, -9%);
}

.style013 {
    font-size: 2rem;
    color: #fff;
    background-color: var(--text);
    padding: 1rem;
    border-radius: 0.5rem;
    transition: all 0.5s;
    text-decoration: none;
    margin: 1rem;
    width: 70% !important;
}

.style013:hover {
    color: #fff;
    background-color: #bd7304;
}

.style012 {
    color: #fff;
    background-color: var(--text2);
    padding: 1rem;
    font-size: 2rem;
    width: 70% !important;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: all 0.5s;
}

.style012:hover {
    color: #fff;
    background-color: #ac0303;
}

@media (max-width: 768px) {

    .style010,
    .style011,
    .style012 {
        max-width: 100vw;
        width: 100%;
        margin: 1rem;
        transform: translate(0%, 0%);
    }

    p {
        font-size: 1.6rem;
    }
}

.style014 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 2rem;
    border-radius: var(--border-radius);
    color: var(--text-color);
    direction: rtl;
}

.feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1rem;
    padding: 2rem;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    width: 20%;
    min-width: 200px;
}

.style015 {
    margin-bottom: 1rem;
    font-size: 4rem;
    cursor: pointer;
    transition: all 0.2s;
    color: #ff9f0d;
    background: #eee;
    border-radius: 50%;
    padding: 1.5rem;
}

.style015:hover {
    background-color: #4d0202;
    border-radius: 50%;
    padding: 1.5rem;
    transform: scale(1.1);
    /* Slightly increase the size */
}

h4 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.6rem;
}

.style016 {
    text-align: center;
    font-size: 3rem;
    padding: 1rem;
    font-weight: bolder;
    color: var(--text);
    margin: auto;
    width: 15%;
    border-bottom: 1px solid var(--text);
}

.style018 {

    color: #363636;
    font-size: 1.8rem;

}

.style017 {
    font-style: italic;
    color: #000;
    font-size: 2.2rem;
}

@media (max-width: 768px) {
    .feature-item {
        width: 45%;
        margin: 1rem 0;
    }

    .style016 {
        text-align: center;
        font-size: 3rem;
        padding: 1rem;
        font-weight: bolder;
        color: var(--text);
        margin: auto;
        width: 100%;
        border-bottom: 1px solid var(--text);
    }
}

@media (max-width: 480px) {
    .feature-item {
        width: 90%;
        margin: 1rem 0;
    }
}

/* .style016 {
    font-size: 3rem;
    color: var(--secondary-color);
    text-align: center;
    margin: 2rem 0;
    padding-bottom: 1rem;
    border-bottom: 3px solid var(--primary-color);
} */

.recipe-section {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    direction: rtl;
}

.recipe-title {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 30px;
    color: #ff9f0d;
    border-bottom: 1px solid var(--text);
    margin-bottom: 3rem;
    width: 15%;
    text-align: center;
    margin: auto;
}

.recipe-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.recipe-content {
    padding: 20px;
}

.recipe-subtitle {
    font-size: 2.3rem;
    color: var(--text);
    margin-bottom: 15px;
}

.recipe-description {
    font-size: 2rem;
    line-height: 1.6;
    color: #495057;
    margin-bottom: 20px;
}

.recipe-image {
    display: flex;
    margin: 2rem;
    align-items: center;
    justify-content: center;
    background-color: #e9ecef;
    border-radius: 8px;
    overflow: hidden;
}

.recipe-image img {
    max-width: 100%;
    height: auto;
    width: 67%;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .recipe-container {
        grid-template-columns: 1fr;
    }

    .recipe-title {
        font-size: 3.5rem;
        text-align: center;
        margin-bottom: 30px;
        color: #ff9f0d;
        border-bottom: 1px solid var(--text);
        margin-bottom: 3rem;
        width: 100%;
        text-align: center;
        margin: auto;
    }

    .recipe-image {
        padding: 10px;
    }
}

.style025 {
    text-align: center;
    margin: 1rem;
    font-size: 2rem;
    color: #484f56;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.products-wrapper {
    overflow: hidden;
    width: 80%;
    /* position: relative; */
}

.products {
    cursor: pointer;
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.product {
    min-width: 100%;
    box-sizing: border-box;
    margin: 0 10px;
    cursor: pointer;
    text-align: center;
}

.product img {
    width: 100px;
    cursor: pointer;
    height: 100px;
}

.nav {
    background-color: #ff9f0d;
    border-radius: 0.5rem;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

.nav.prev {
    margin-right: 10px;
    cursor: pointer;
}

.nav.next {
    margin-left: 10px;
    cursor: pointer;
}

.bottom-navbar {
    display: none;
    cursor: pointer;
}

@media (max-width: 760px) {
    .bottom-navbar {
        display: flex;
        justify-content: flex-start;
        align-items: end;
        position: fixed;
        bottom: 0;
        top: auto;
        width: 100%;
        z-index: 1000;

    }




    .style09 {
        width: 60vw;
        transform: translate(-2%, 3%);
    }

    ul.style02 {
        display: flex;
        list-style-type: none;
        direction: rtl;
        margin: 0;
        padding: 0;
    }

    ul.style02 li {
        margin: auto;
    }

    ul.style02 li:hover {
        background-color: #333;
        border-radius: 0.4rem;
        margin: auto;
    }

    ul.style02 li ul.sub-menu {
        display: none;
        position: absolute;
        top: auto;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        background: var(--background);
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    ul.style02 li:hover>ul.sub-menu {
        display: block;
        width: 200px;
    }

    ul.style02 li ul.sub-menu li {
        border-bottom: 1px solid #ddd;
    }

    ul.style02 li ul.sub-menu li a {
        padding: 1rem 1.5rem;
        display: block;
        color: inherit;
        text-decoration: none;
    }

    ul.style02 li ul.sub-menu li a:hover {
        background-color: #ffb834;
        color: #f60b0b;
    }
}

@media (min-width: 768px) {
    .product {
        min-width: calc(50% - 20px);
    }
}

@media (min-width: 1024px) {
    .product {
        min-width: calc(25% - 20px);
    }
}

.style-name {
    font-size: 2.7rem;
    color: #333;
    font-weight: bolder;
    margin: 0.5rem;
    text-align: center;
}

.style-price {
    text-align: center;
    font-size: 2.2rem;
    color: #333;
    margin: 1.2rem;
}

.style-add {
    text-decoration: none;
    font-size: 2.7rem;
    color: #ffbd1b;
    background: var(--text2);
    padding: 1rem;
    margin: 1rem;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease-in-out;
}

.style-add:hover {
    background-color: #9f0404;
}



.recipe-title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
    color: var(--text);
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* Adjust as needed */
}

.item {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px;
    flex: 1 0 calc(33.33% - 20px);
    /* Calculate 33.33% width with margins */
    margin-right: 20px;
}

.item:last-child {
    margin-right: 0;

}

.item:hover {
    transform: translateY(-5px);
}

.item img {
    width: 25%;
    height: auto;
    display: block;
    margin: auto;
}

.item .body-box {
    padding: 1.5rem;
    text-align: center;
}

.item .title {
    font-size: 2.2rem;
    color: #333333;
    margin-bottom: 1rem;
}

.item a {
    display: inline-block;
    background-color: var(--text2);
    color: var(--text);
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
    font-size: 2rem;
    font-weight: bold;
}

.item a:hover {
    background-color: #9f0404;
}

@media (max-width: 992px) {
    .item {
        flex-basis: calc(50% - 20px);
        /* 50% width on medium screens */
    }
}

@media (max-width: 768px) {
    .item {
        flex-basis: 100%;
        /* Full width on small screens */
        margin-right: 0;
    }
}

/* OPERATIONS */
.operations {
    max-width: 100%;
    margin: 12rem auto 0 auto;
    padding: 0 25px;
    background-color: #f3f3f3;
    box-sizing: border-box;
}

.operations__tab {
    margin-right: 2.5%;
}

.operations__tab-container {
    display: flex;
    justify-content: space-around;
}

.operations__tab {
    margin-right: 2.5%;
}

.operations__tab-container {
    justify-content: space-around;
}

.operations__tab-container {
    justify-content: center;
}

.operations__tab {
    margin-right: 2.5%;
}

.operations__tab span {
    margin-right: 1rem;
    font-weight: 600;
    display: inline-block;
}

.operations__tab--1 {
    background-color: var(--color-secondary);
}

.operations__tab--1:hover {
    background-color: var(--color-secondary-darker);
}

.operations__tab--3 {
    background-color: var(--color-tertiary);
    margin: 0;
}

.operations__tab--3:hover {
    background-color: var(--color-tertiary-darker);
}

.operations__tab--active {
    transform: translateY(-66%);
}

.operations__content {
    display: none;
    font-size: 1.7rem;
    padding: 2.5rem 7rem 6.5rem 7rem;
}

.operations__content--active {
    display: grid;
    column-gap: 3rem;
    row-gap: 0.5rem;
}

.operations__header {
    font-size: 2.25rem;
    font-weight: 500;
    align-self: center;
    color: #333;
}

.operations__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
}

.operations__icon svg {
    height: 2.75rem;
    width: 2.75rem;
}

.operations__content p {
    grid-column: 1;
    color: #333;
}

.operations__icon--1 {
    background-color: var(--redi);
}

.operations__icon--2 {
    background-color: var(--color-primary-opacity);
}

.operations__icon--3 {
    background-color: var(--color-tertiary-opacity);
}

.operations__icon--1 svg {
    fill: var(--color-secondary-darker);
}

.operations__icon--2 svg {
    fill: var(--color-primary);
}

.operations__icon--3 svg {
    fill: var(--color-tertiary);
}

.btn-1 {
    display: inline-block;
    background-color: var(--color-primary);
    font-size: 1.6rem;
    font-family: inherit;
    font-weight: 500;
    border: none;
    padding: 0.6rem 4.5rem;
    border-radius: 10rem;
    cursor: pointer;
    transition: all 0.3s;
}

.footer {
    background-color: black;
    color: #fefefe;
    position: relative;
    width: 100%;
    bottom: 0;
    padding: 1rem;
    direction: rtl;
    left: 0;
    text-align: center;
}

.footer .heading {
    color: #fefefe;
    max-width: 1010px;
    width: 90%;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 3rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.footer .content {
    display: flex;
    justify-content: space-evenly;
    margin: 1.5rem;
    flex-wrap: wrap;
}

.footer .content p {
    margin-bottom: 1.3rem;
}

.footer .content a {
    text-decoration: none;
    color: #fefefe;
    font-style: italic;
    font-size: 2rem;
}

.footer .content a:hover {
    border-bottom: 1px solid var(--text);
}

.footer .content h4 {
    margin-bottom: 1.3rem;
    font-size: 2.5rem;
}

.footer .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.footer .social-icons i {
    margin: 0 11px;
    font-size: 2.7rem;
    color: #ffffff;
    cursor: pointer;
    padding: 1rem;
    transition: background-color 0.3s ease-in-out;
}

.footer .social-icons i:hover {
    background-color: var(--text);
    padding: 1rem;
    border-radius: 50%;

}

footer {
    text-align: center;
    margin-bottom: 2rem;
}

footer hr {
    margin: 2rem 0;
}

@media (max-width: 767px) {
    .footer .content {
        flex-direction: column;
        font-size: 14px;
        align-items: center;
    }

    .footer {
        position: unset;
    }

    .footer .social-icons {
        justify-content: center;
    }

    .btn-1 {
        display: inline-block;
        background-color: var(--color-primary);
        font-size: 1.6rem;
        font-family: inherit;
        font-weight: 500;
        border: none;
        padding: 0.6rem 1.5rem;
        border-radius: 10rem;
        cursor: pointer;
        transition: all 0.3s;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    .footer .content,
    .footer {
        font-size: 14px;
    }
}

@media (orientation: landscape) and (max-height: 500px) {
    .footer {
        position: unset;
    }
}



/*///////////////////////////////*/
/* Drawer */
.drawer-menu {
    height: 100%;
    width: 250px;
    direction: rtl;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: #333333db;
    overflow-x: hidden;
    transition: left 0.5s ease;
    padding-top: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
}

.drawer-menu.open {
    left: 0;
}

.drawer-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    display: block;
    transition: opacity 0.3s ease;
    opacity: 0;
    padding-right: 4rem;
    padding-top: 3rem;
    color: #ff9f0d;
    font-style: italic;
    font-size: 3rem;
    border-bottom: 1px solid #fff;
    transition: all 0.3s ease;
}

.drawer-menu a:hover {
    background-color: #ff9f0d;
    color: var(--text2);
    margin: 0.5rem;
}

.drawer-menu.open a {
    opacity: 1;
}

.style027 {
    transition: transform 0.3s ease;
}

.drawer-menu.open .style027 {
    transform: rotate(90deg);
}

.drawer-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-width: 768px) {
    .style02 {
        display: none;
    }
}

::selection {
    background-color: #ffe685;
    color: #333;

}

.section--hidden {
    opacity: 0;
    transform: translateY(8rem);
}

.section--afect {
    transition: transform 1s, opacity 1s;
}

.Calories {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px;
}

.Calories:hover {
    background-color: #45a049;
}

.modal.hidden {
    display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

label,
input,
select {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color:
        var(--text2);
    color: var(--text);
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 2rem;
    border-radius: 5px;
}

button[type="submit"]:hover {
    background-color: #8f0505;
}

#calorie-result {
    display: none;
    margin-top: 20px;
    padding: 15px;
    background-color: #e2e2e2;
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
    .modal-content {
        width: 95%;
    }
}